/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require owl.carousel
*= require owl.theme
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "semantic-ui";



// form user validation
body {
      background: image-url('wall.jpg') no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
 	 background-size: cover;
      text-align: left;
      background-repeat: repeat-x, repeat-y;

    }

.new{
	.grid {
      height: 100%; //for form user sign up
      //height: 45%;
    }
    .image {
      margin-top: -100px;
    }
    .column {
      max-width: 600px;
    }
    .white {
      color: #FFFFFF;
    }
.center-div{
  max-width: 50%;
  margin: 0 auto 50px;
    }

}



.grey-wrapper {
	
	margin: 50px 100px;
	//background-color: rgb(205, 202, 202);
	background: transparent;
	max-width: 100%;
	//height: 800px;
	
}

//<%= asset_path 'wilaya.png' %>

.agenda-wrapper {
		
	padding: 10%;
	
	max-height: 400px;
	background: radial-gradient( #FFFFFF 60%, rgba(201, 201, 42, 0.43));
	border-radius: 25px;
	
}
.min {
	min-height: 170px;
	display: block;
}
.black-block {
	position: absolute;
	left: 500px;
	top: 200px;
	width: 100%;
	color: rgb(205, 202, 202);

}
.green-holder {
	background: radial-gradient( #FFFFFF 60%, rgba(201, 201, 42, 0.43));
	border-radius: 25px;
	padding: 20px 40px;
	//margin: 0px 200px;
}
.break {
	max-height: 240px;
	overflow: scroll;
}
#slider {
    width: 600px;
    height: 300px;
    overflow: hidden;
    margin: 0px auto;
}

#slider .slides {
    display: block;
    width: 2400px;
    height: 300px;
    margin: 0;
    padding: 0;
}

#slider .slide {
    float: left;
    list-style-type: none;
    width: 600px;
    height: 300px;
}

.map {
	width: 90%;
	min-height: 200px;
}
.style-logo{
	//position: absolute;
	width: 40%;
	margin: 20px 200px;
}
.logo-wrapper {
	//position: relative;
	text-align: left;
	margin: 0px;
	padding: 0px;
}
.spacing-icon{
	margin-left: 5px;
}

.img-new-wilaya {
	width: 150px;
	height: 150px;
	margin: 0 10px 10px 0 ;
}
.first {
	min-height: 250px;
}
.spacing {
	margin : 40px 0;
}




#owl-demo .item{
  margin: 3px;
}
#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}


.logo-header{
	height: 55px;
	width: 40px;
	margin: -11px 0px;
}

.map-content {
	padding: 10px;
}


#clickable {
	cursor: pointer;
}

.full-page {
  height: 100%;
  background-color: black;
}

.user-content {
	margin: 30px 30px 30px 2px;
}

#center {
	display: table;
	margin: 0 auto; 
}

.ui.small.image.custom {
	display: inline-block;
	width: 25px;
	height: 25px;
	margin-right: 10px;
}

.users {
list-style: none;
margin: 0;
li {
overflow: auto;
padding: 10px 0;
border-bottom: 1px solid $gray-lighter;
}
}