<div class="ui modal" style="height: 500px;">
<div class="map-content">
  
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3281.6457114863388!2d-1.9121239850808678!3d34.66364933044397!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd787b560ebe4d71%3A0xac0a2854ca0912f4!2sWilaya+de+la+R%C3%A9gion+de+l&#39;Oriental%2C+Boulevard+Hassan+II%2C+Oujda%2C+Maroc!5e0!3m2!1sfr!2s!4v1468844249090" width="800" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>


<div class="ui right aligned header">
<a href="https://www.google.com/maps/place/Wilaya+de+la+R%C3%A9gion+de+l'Oriental,+Boulevard+Hassan+II,+Oujda,+Maroc/@34.6636493,-1.912124,17z/data=!3m1!4b1!4m13!1m7!3m6!1s0x0:0x0!2zMzTCsDM5JzQ3LjciTiAxwrA1NCczNS41Ilc!3b1!8m2!3d34.663254!4d-1.9098644!3m4!1s0xd787b560ebe4d71:0xac0a2854ca0912f4!8m2!3d34.6634923!4d-1.9102292?hl=fr" target="_blank"><div class="ui right aligned green button">See full map</div></a>
</div>
</div>
</div>